:root{
    --mainColor:#dda0dd;
    --subColor:#E6E6FA;
    --borderColor:#4b0082;
    --themeDotBorder:#24292e;
    --mainText:black;
    --subText: #4b5156;
    --previewBg:rgba(191,150,63,0.26);
    --preview-shadow: #fff0f5;
}



html, body{
    padding:0;
    margin:0;
}

h1,h2,h3,h4,h5,h6{
    color:var(--mainText);
    font-family: 'Russo One', sans-serif;
}

p,li,span,label,input,textarea{
    color:var(--subText);
    font-family: 'Roboto', sans-serif;
}

.beginning-wrapper{
    display:grid;
   /* border:2px dashed lightcoral;*/
    min-height:5cm;
    align-content: center;
    justify-content: center;
}

.intro-wrapper{
    background-color: var(--subColor);
    /*border: 1px solid var(--borderColor);*/

    
    box-shadow: -6px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -6px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 10px 5px 0px rgba(0,0,0,0.75);

    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1cm 13cm;
    grid-template-areas:
    'nav-wrapper nav-wrapper'
    'left-col right-col';
}
.nav-wrapper{
    text-align: right;
    padding-top: 0;
    margin:0;
    padding-right: 10px;
    grid-area: nav-wrapper;
   /* border: 1px solid lightcoral;*/
}

.left-column{
    padding-top: 50px;
    padding-left:10px;
    padding-bottom: 50px;
    grid-area: left-col;
    /*border: 1px solid lightcoral;*/
}
* {box-sizing:border-box}

/* Slideshow function*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.right-column{
    grid-area: right-col;
    /*border: 1px solid lightcoral;*/
    padding-top: 100px;
    padding-left: 100px;
}

#profile_pic{
    display:block;
    margin:0 auto;
    height: 400px;
    width: 100px;
    position:relative;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}


.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow:auto;
}

.s2{
    background-color: var(--subColor);
    border-bottom: 1px solid var(--borderColor);
    overflow:auto;
}

a{
    text-decoration: none;
    color:#4169e1;
}
ul{
    list-style: none;
}

.main-container{
    width:1200px;
    margin: 0 auto;
}

#preview{
    width:300px;
    border: 1.5px solid blue;
    background: var(--previewBg);
    padding-left: 20px;

    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

.right-column{
    padding-top:200px;
    padding-left:150px;
}

#preview-shadow{
    background-color: var(--preview-shadow);
    width:300px;
    height:150px;
    padding-left:30px;
    padding-top: 30px;

    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}
@media screen and (max-width: 900px){
	.main-container{
		width: 70%;
	}
}

@media screen and (max-width: 1200px){
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
	}

	.right-column{
		justify-content: center;
	}

}



#myImg1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg1:hover {opacity: 0.7;}

#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

#myImg3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg3:hover {opacity: 0.7;}

#myImg4 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg4:hover {opacity: 0.7;}

/* The Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#caption1 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content{
  animation-name: zoom;
  animation-duration: 0.6s;
}

#caption1{
  animation-name: zoom;
  animation-duration: 0.6s;
}

#caption2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

#caption2{
  animation-name: zoom;
  animation-duration: 0.6s;
}

#caption3 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
#caption3{
  animation-name: zoom;
  animation-duration: 0.6s;
}

#caption4 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
#caption4{
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close1 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close1:hover,
.close1:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.close3 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close3:hover,
.close3:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.close4 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close4:hover,
.close4:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* responsiveness*/
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}




.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsiveness*/
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
